* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: Archivo;
    font-size: 52px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.recipes h4 {
    font-family: Aboreto;
    color: black;
    background-color: rgba(255, 255, 255, 0.715);
    padding: 10px 5px;
}

.recipes a {
    text-decoration: none;
}

.lasagna {
    background-image: url(./images/Lasagne.webp);
}

.maccheese {
    background-image: url(./images/MacCheese.webp);
}

.pizza {
    background-image: url(./images/pizza.jpeg);
}
